
@model MyPeronalWebSite.Models.ViewModel.IndexViewModel
@using MyPeronalWebSite.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- tpm-header-area start -->
<!-- tpm-header-area end -->



<div class="d-block d-xl-none">
    <div class="tmp-popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo">
                    <a href="index.html" class="logo-area">
                        <img class="logo-dark" src="/Content/images/logo/white-logo-reeni.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                        <img class="logo-white" src="/Content/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                    </a>

                </div>
                <div class="close-menu">
                    <button class="close-button tmp-round-action-btn">
                        <i class="fa-sharp fa-light fa-xmark"></i>
                    </button>
                </div>
            </div>
            <ul class="tmp-mainmenu">
                <li>
                    <a href="#">
                        Home
                    </a>

                </li>
                <li>
                    <a href="about.html">About</a>
                </li>


                <li class="has-dropdown">
                    <a href="#">
                        Project
                        <i class="fa-regular fa-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="project.html">Project</a></li>
                        <li><a href="project-style-two.html">Project Style 2</a></li>
                        <li><a href="project-style-three.html">Project Style 3</a></li>
                        <li><a href="project-details.html">Project Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>


            <div class="social-wrapper mt--40">
                <span class="subtitle">find with me</span>
                <div class="social-link">
                    <a href="@Model.Tbl_AboutMe.LinkedlnURL"><i class="fa-brands fa-linkedin-in"></i></a>

                    <a href="@Model.Tbl_AboutMe.GithubURL"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <!-- social area end -->



        </div>
    </div>
</div>



<!-- tmp banner area start -->
<div class="rpp-banner-three-area">
    <div class="container">
        <div class="banner-three-main-wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <div class="inner">
                        <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1"> @Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Giriş").Value</span>
                        <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">Furkan Aydemir</h1>
                        <div class="button-area-banner-three tmp-scroll-trigger tmp-fade-in animation-order-3">

                            <a class="tmp-btn hover-icon-reverse radius-round" href="~/CV/Furkan Aydemir ENG.pdf" download>
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text"> @Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Cv").Value</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-download"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-download"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="banner-right-content">
                        <div class="about-me tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h3 class="title">Hakkımda</h3>
                            <p class="para tmp-title-split">
                                F
                                @Model.Tbl_AboutMe.Description
                            </p>
                        </div>
                        <div class="find-me-on mt--40 tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <h2 class="find-me-on-title"> @Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Bulmak").Value</h2>
                            <div class="social-link banner">

                                <a href="@Model.Tbl_AboutMe.LinkedlnURL"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="@Model.Tbl_AboutMe.GithubURL"><i class="fa-brands fa-github"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-benner-img-three">

                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-2" src="@Model.Tbl_AboutMe.ImageURL" alt="banner-img-3">


            </div>
            <h2 class="texts-one up-down-2">WEB DESIGN</h2>
            <h2 class="texts-two up-down">WEB DESIGN</h2>
        </div>
    </div>
</div>
<!-- tmp banner area end -->
<!-- Tpm Service Area Start -->
<section class="service-area tmp-section-gap">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model.Tbl_Skills)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-1 tmp-link-animation">

                        <div class="service-card-icon">

                            <i class="@item.Icon"></i>
                        </div>
                        <h4 class="service-title"><a href="service-details.html">@item.WhichSkills</a></h4>

                    </div>
                </div>
            }
        </div>

    </div>

</section>
<!-- Tpm Service Area End -->
<!-- Tpm Counter Area Start -->
<!-- Tpm Counter Area End -->
<!-- Tpm Latest Service Area Start -->
<section class="latest-service-area tmp-section-gapTop">
    <div class="container" id="about">
        <div class="section-head mb--60">
            <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                <span class="subtitle">Latest Service</span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Inspiring The World One Project</h2>
            <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">
                Business consulting consultants provide expert advice and guida
                businesses to help them improve their performance, efficiency, and organizational
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <h2 class="service-card-num"><span>1.</span>Kısaca Ben </h2>
                    <p class="service-para">
                        @Model.Tbl_AboutMe.ShortDescription
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="service-card-user-image">

                    <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="@Model.Tbl_AboutMe.ImageURL" alt="latest-user-image">


                </div>
            </div>
        </div>
    </div>
</section>





<!-- Tpm Latest Service Area End -->
<!-- tmp skill area start -->
<!-- tmp skill area end -->
<!-- Tpm Education Experience Area End -->
<!-- Tpm Our Supported Company Area Start -->
<div class="our-supported-company-area tmp-section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <h3 class="tech-title">
                    Kulla
                    nılan Teknolojiler
                </h3>
                <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-1">
                    @foreach (var item in Model.Tbl_Technologies)
                    {
                        <img class="tech-logo" src="@item.ImageURL" alt="Reeni - Personal Portfolio HTML Template" />
                    }
                </div>
            </div>


        </div>
    </div>
</div>
<style>
    .tech-title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #fff; /* koyu temada beyaz yazı */
        text-align: center; /* ortalı başlık */
        letter-spacing: 1px;
    }

    .support-company-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* logolar ortalansın */
        gap: 12px; /* logolar arası boşluk */
    }

    .tech-logo {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .img-box.v2 {
        width: 100%;
        height: 250px; /* parent’ın yüksekliği varsa, resim tamamen kaplar */
        overflow: hidden;
        display: flex; /* hizalama için */
    }
</style>
<!-- Tpm Our Supported Company Area End -->
<!-- Tpm My Price plan Start -->


<!-- Tpm My Price plan End -->
<!-- Tpm Testimonial Area Start -->
<!-- Tpm Testimonial Area End -->
<!-- Tpm Blog and news Area Start -->
<section class="blog-and-news-are tmp-section-gap">
    <div class="container">
        <div class="section-head mb--50" id="projects">
            <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                <span class="subtitle"> @Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Bitmiş Proje").Value </span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Projeler").Value</h2>
        </div>
        <div class="row">
            @foreach (var item in Model.Tbl_Projects)
            {
                <div class="col-lg-6 col-md-6">
                    <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a title="projectdetail"
                                   href="@Url.Action("ProjectDetail", "Home", new {
                                       title = Url.FriendlyURLTitle(item.ProjectTitle),
                                       id = item.ID
                                   })">
                                    <img class=" hidden-on-mobile" src="@item.ProjectImg" alt="@item.ProjectTitle" />
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title">
                                    <a class="link" title="projectdetail"
                                       href="@Url.Action("ProjectDetail", "Home", new {
                                           title = Url.FriendlyURLTitle(item.ProjectTitle),
                                           id = item.ID
                                       })">
                                        @item.ProjectTitle
                                    </a>
                                </h3>
                                <p class="portfoli-card-para">@item.ProjectEntryDescription</p>
                            </div>
                            <a title="projectdetail"
                               href="@Url.Action("ProjectDetail", "Home", new {
                                   title = Url.FriendlyURLTitle(item.ProjectTitle),
                                   id = item.ID
                               })" class="tmp-arrow-icon-btn">
                                <div class="btn-inner">
                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



@*<section class="blog-and-news-are tmp-section-gap">
    <div class="container">
        <div class="section-head mb--50">
            <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                <span class="subtitle">@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "ŞimdikiProjeler").Value </span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Projeler").Value</h2>
        </div>
        <div class="row">
            foreach (var item in Model.Tbl_CurrentProject)
            {
                <div class="col-lg-6 col-md-6">
                    <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a title="projectdetail"
                                   href="@Url.Action("ProjectDetail", "Home", new {
                                       title = Url.FriendlyURLTitle(item.ProjectTitle),
                                       id = item.ID
                                   })">
                                    <img class="hidden-on-mobile" src="@item.ImageURL" style="width:100%;" alt="@item.ProjectTitle" />
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title">
                                    <a class="link" title="projectdetail"
                                       href="@Url.Action("ProjectDetail", "Home", new {
                                           title = Url.FriendlyURLTitle(item.ProjectTitle),
                                           id = item.ID
                                       })">
                                        @item.ProjectTitle
                                    </a>
                                </h3>
                                <p class="portfoli-card-para">@item.ProjectTitle</p>
                            </div>
                            <a title="projectdetail"
                               href="@Url.Action("ProjectDetail", "Home", new {
                                   title = Url.FriendlyURLTitle(item.ProjectTitle),
                                   id = item.ID
                               })" class="tmp-arrow-icon-btn">
                                <div class="btn-inner">
                                    <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>*@









<section class="get-in-touch-area tmp-section-gapBottom">
    <div class="container">
        <div class="contact-get-in-touch-wrap" id="get-in-touch">
            <div class="get-in-touch-wrapper tmponhover" style="--x: 460px; --y: 415px;">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="section-head text-align-left">
                            <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <span class="subtitle">@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "İletisimeGec").Value</span>
                            </div>
                            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">
                                @Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "İletisimTablo").Value
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact-inner">
                            <div class="contact-form">
                                <div id="form-messages" class="error"></div>

                                <!-- action değiştirildi -->
                                <form class="tmp-dynamic-form" id="contact-form" method="POST" action="#">
                                    <div class="contact-form-wrapper row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" name="name" id="contact-name"
                                                       placeholder="@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "İsim").Value"
                                                       type="text" required="">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <!-- name eklendi -->
                                                <input class="input-field" id="contact-phone" name="phoneNumber"
                                                       placeholder="@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Telefon").Value"
                                                       type="tel" required="">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" id="contact-email" name="email"
                                                       placeholder="@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Email").Value"
                                                       type="email" required="">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" type="text" id="subject" name="subject"
                                                       placeholder="@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Konu").Value">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="input-field"
                                                          placeholder="@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Mesaj").Value"
                                                          name="message" id="contact-message" required=""></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="tmp-button-here">
                                                <!-- type değiştirildi -->
                                                <button class="tmp-btn hover-icon-reverse radius-round w-100"
                                                        type="submit" id="gonder" name="gonder">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">
                                                            @Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Gonder").Value
                                                        </span>
                                                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tpm Blog and news Area End -->
<!-- Start Footer Area  -->
<footer class="footer-area footer-style-one-wrapper  tmp-section-gap">
    <div class="container">
        <div class="footer-main footer-style-one">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6">
                    <div class="single-footer-wrapper border-right mr--20">

                        <p class="description"><span>@Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "IletisimSlogan").Value</span></p>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Email ">
                            <span class="form-icon"><i class="fa-regular fa-envelope"></i></span>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-wrapper contact-wrap">

                        <h5 class="ft-title">İletişim Bilgileri </h5>
                        <ul class="ft-link tmp-link-animation">
                            <li>
                                <span class="ft-icon"><i class="fa-solid fa-envelope"></i></span>
                                <a href="mailto:@Model.Tbl_AboutMe.EmailAdress">@Model.Tbl_AboutMe.EmailAdress</a>
                            </li>

                            <li>
                                <span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>@Model.Tbl_AboutMe.Adress
                            </li>
                            <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a href="#">@Model.Tbl_AboutMe.PhoneNumber</a></li>
                        </ul>
                        <div class="social-link footer">

                            <a href="@Model.Tbl_AboutMe.LinkedlnURL"><i class="fa-brands fa-linkedin-in"></i></a>

                            <a href="@Model.Tbl_AboutMe.GithubURL"><i class="fa-brands fa-github"></i></a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bg-img">
        <img src="/Content/images/footer/footer-bg-img.png" alt="footer-img">
    </div>
</footer>
<div class="copyright-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-wrapper">
                    <p class="copy-right-para">
                        @Model.Tbl_Resource.FirstOrDefault(x => x.NavigationName == "Yapan").Value
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </p>
                    <ul>
                        <li><a href="#">Trams & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area  -->
<!-- ready chatting option via email -->
<div class="ready-chatting-option tmp-ready-chat">
    <input type="checkbox" id="click">
    <label for="click">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fas fa-times"></i>
    </label>
    <div class="wrapper">
        <div class="head-text">
            Let's chat with me? - Online
        </div>
        <div class="chat-box">
            <div class="desc-text">
                Please fill out the form below to start chatting with me directly.
            </div>
            <form class="tmp-dynamic-form" action="#">
                <div class="field">
                    <input class="input-field" name="name" placeholder="Your Name" type="text" required>
                </div>
                <div class="field">
                    <input class="input-field" name="email" placeholder="Your Email" type="email" required>
                </div>
                <div class="field textarea">
                    <textarea class="input-field" placeholder="Your Message" name="message" required></textarea>
                </div>
                <div class="field">
                    <button name="submit" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ready chatting option via email end -->
<!-- progress area start -->
<div class="scrollToTop" style="display: block;">
    <div class="arrowUp">
        <i class="fa-light fa-arrow-up"></i>
    </div>
    <div class="water" style="transform: translate(0px, 87%);">
        <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
            <use xlink:href="#wave"></use>
        </svg>
        <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
            <use xlink:href="#wave"></use>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 560 20" style="display: none;">
            <symbol id="wave">
                <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z" fill="#"></path>
                <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z" fill="#"></path>
                <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z" fill="#"></path>
                <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z" fill="#"></path>
            </symbol>
        </svg>

    </div>
</div>
<!-- progress area end -->
<!-- <div class="tmp-right-demo">
    <button class="demo-button">
        <p class="mb--0">48</p>
        <span class="text">Demos</span>
    </button>
</div> -->





<div class="demo-modal-area">
    <div class="wrapper">
        <div class="tmp-modal-inner">
            <div class="close-icon">
                <button class="demo-close-btn"><span><i class="fa-sharp fa-light fa-xmark"></i></span></button>
            </div>
            <div class="demo-top text-center">
                <h4 class="title">Reeni</h4>
                <p class="subtitle">
                    A personal portfolio website is your digital resume—a place to showcase your work,
                    skills, and achievements.
                </p>
            </div>
            <ul class="popuptab-area nav nav-tabs" id="popuptab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active demo-dark" id="demodark-tab" data-bs-toggle="tab" href="#demodark" role="tab" aria-controls="demodark" aria-selected="true">Dark Demo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link demo-light" id="demolight-tab" data-bs-toggle="tab" href="#demolight" role="tab" aria-controls="demolight" aria-selected="false">Light Demo</a>
                </li>
            </ul>
            <div class="tab-content" id="popuptabContent">
                <div class="tab-pane show active" id="demodark" role="tabpanel" aria-labelledby="demodark-tab">
                    <div class="content">
                        <div class="row">

                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index.html">
                                                <img class="w-100" src="/Content/images/demo/home-1.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index.html">Main Demo</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-02.html">
                                                <img class="w-100" src="/Content/images/demo/home-2.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-02.html">Demo 02</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-03.html">
                                                <img class="w-100" src="/Content/images/demo/home-3.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-03.html">Demo 03</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-04.html">
                                                <img class="w-100" src="/Content/images/demo/home-4.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-04.html">Demo 04</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-05.html">
                                                <img class="w-100" src="/Content/images/demo/home-5.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-05.html">Demo 05</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-06.html">
                                                <img class="w-100" src="/Content/images/demo/home-6.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-06.html">Demo 06</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-07.html">
                                                <img class="w-100" src="/Content/images/demo/home-7.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-07.html">Demo 07</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-08.html">
                                                <img class="w-100" src="/Content/images/demo/home-8.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-08.html">Demo 08</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-09.html">
                                                <img class="w-100" src="/Content/images/demo/home-9.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-09.html">Demo 09</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-10.html">
                                                <img class="w-100" src="/Content/images/demo/home-10.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-10.html">Demo 10</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-11.html">
                                                <img class="w-100" src="/Content/images/demo/home-11.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-11.html">Demo 11</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-12.html">
                                                <img class="w-100" src="/Content/images/demo/home-12.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-12.html">Demo 12</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-13.html">
                                                <img class="w-100" src="/Content/images/demo/home-13.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-13.html">Demo 13</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-14.html">
                                                <img class="w-100" src="/Content/images/demo/home-14.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-14.html">Demo 14</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-15.html">
                                                <img class="w-100" src="/Content/images/demo/home-15.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-15.html">Demo 15</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-16.html">
                                                <img class="w-100" src="/Content/images/demo/home-16.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-16.html">Demo 16</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-17.html">
                                                <img class="w-100" src="/Content/images/demo/home-17.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-17.html">Demo 17</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-18.html">
                                                <img class="w-100" src="/Content/images/demo/home-18.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-18.html">Demo 18</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-19.html">
                                                <img class="w-100" src="/Content/images/demo/home-19.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-19.html">Demo 19</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-20.html">
                                                <img class="w-100" src="/Content/images/demo/home-20.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-20.html">Demo 20</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-21.html">
                                                <img class="w-100" src="/Content/images/demo/home-21.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-21.html">Demo 21</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-22.html">
                                                <img class="w-100" src="/Content/images/demo/home-22.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-22.html">Demo 22</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img class="w-100" src="/Content/images/demo/coming-soon.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="#">Demo 23</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img class="w-100" src="/Content/images/demo/coming-soon.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="#">Demo 24</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->



                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="demolight" role="tabpanel" aria-labelledby="demolight-tab">
                    <div class="content">
                        <div class="row">

                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-1-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-white.html">Main Demo</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-02-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-2-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-02-white.html">Demo 02</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-03-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-3-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-03-white.html">Demo 03</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-04-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-4-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-04-white.html">Demo 04</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-05-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-5-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-05-white.html">Demo 05</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-06-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-6-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-06-white.html">Demo 06</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-07-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-7-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-07-white.html">Demo 07</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-08-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-8-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-08-white.html">Demo 08</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-09-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-9-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-09-white.html">Demo 09</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-10-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-10-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-10-white.html">Demo 10</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-11-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-11-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-11-white.html">Demo 11</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-12-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-12-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-12-white.html">Demo 12</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-13-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-13-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-13-white.html">Demo 13</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-14-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-14-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-14-white.html">Demo 14</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-15-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-15-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-15-white.html">Demo 15</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-16-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-16-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-16-white.html">Demo 16</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-17-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-17-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-17-white.html">Demo 17</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-18-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-18-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-18-white.html">Demo 18</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-19-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-19-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-19-white.html">Demo 19</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-20-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-20-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-20-white.html">Demo 20</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-21-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-21-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-21-white.html">Demo 21</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="index-22-white.html">
                                                <img class="w-100" src="/Content/images/demo/home-22-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="index-22-white.html">Demo 22</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img class="w-100" src="/Content/images/demo/coming-soon-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="#">Demo 23</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->
                            <!-- Start Single Content  -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-demo">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img class="w-100" src="/Content/images/demo/coming-soon-white.png" alt="Personal Portfolio">
                                                <span class="overlay-content">
                                                    <span class="overlay-text">
                                                        View Demo <i class="feather-external-link"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="inner">
                                            <h3 class="title"><a href="#">Demo 24</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Content  -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*varsayılan dili aldık:*@
<script>
   var currentDilId =@ViewBag.DilId
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#gonder").click(function (e) {
            debugger
            e.preventDefault();

            var name = $("#contact-name").val().trim();
            var phoneNumber = $("#contact-phone").val().trim();
            var email = $("#contact-email").val().trim();
            var subject = $("#subject").val().trim();
            var message = $("#contact-message").val().trim();

            // Zorunlu alan kontrolü
            if (!name || !email || !message) {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: 'Lütfen zorunlu alanları (Ad, Email, Mesaj) doldurunuz.'
                });
                return;
            }

            $.ajax({
                url: '@Url.Action("SendMessage", "Home")',
                type: 'POST',
                dataType: 'json',
                data: {
                    name: name,
                    email: email,
                    phoneNumber: phoneNumber,
                    subject: subject,
                    message: message,
                    langId: currentDilId
                },
                success: function (data) {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Gönderildi!',
                            text: 'Mesajınız başarıyla gönderildi. En kısa sürede size dönüş yapılacaktır.',
                            confirmButtonText: 'Tamam'
                        });

                        // Formu temizle
                        $("#contact-form")[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hata!',
                            text: data.message
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX hata:", error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Bir hata oluştu!',
                        text: 'Lütfen tekrar deneyin.'
                    });
                }
            });
        });
    });

    // Formun kendi submit olayını engelle
    $("#contact-form").submit(function (e) {
        e.preventDefault();
    });
</script>

