
@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="ltr" lang="@(Request.Cookies["lang"]?.Value ?? "tr")">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reeni is a modern personal portfolio template for designers, developers, content writer, cleaner, programmer, fashion designer, model, Influencer and freelancers. Fully responsive, SEO-friendly, Bootstrap and easy to customize.">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keyword" />
    <!-- Bootstrap min css -->
    <link rel="stylesheet" href="/content/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="/content/css/plugins/swiper.css">
    <link rel="stylesheet" href="/content/css/plugins/odometer.css">
    <link rel="stylesheet" href="/content/css/vendor/animate.min.css">
    <link rel="stylesheet" href="/content/css/vendor/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/content/css/style.css">
    <!-- jQuery CDN (Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body class="color-primary-2nd">

    @Html.Action("NavbarPartial", "Partial")

    @RenderBody()


    <script src="/content/js/vendor/jquery.js"></script>
    <script src="/content/js/vendor/jquery-ui.min.js"></script>
    <script src="/content/js/vendor/waypoints.min.js"></script>

    <script src="/content/js/plugins/odometer.js"></script>
    <script src="/content/js/vendor/appear.js"></script>


    <script src="/content/js/vendor/jquery-one-page-nav.js"></script>
    <script src="/content/js/plugins/swiper.js"></script>

    <script src="/content/js/plugins/gsap.js"></script>
    <script src="/content/js/plugins/splittext.js"></script>
    <script src="/content/js/plugins/scrolltigger.js"></script>
    <script src="/content/js/plugins/scrolltoplugins.js"></script>
    <script src="/content/js/plugins/smoothscroll.js"></script>
    <!-- bootstrap Js-->
    <script src="/content/js/vendor/bootstrap.min.js"></script>
    <script src="/content/js/vendor/waw.js"></script>
    <script src="/content/js/plugins/isotop.js"></script>
    <script src="/content/js/plugins/animation.js"></script>
    <script src="/content/js/plugins/contact.form.js"></script>
    <script src="/content/js/vendor/backtop.js"></script>
    <script src="/content/js/plugins/text-type.js"></script>
    <!-- custom Js -->
    <script src="/content/js/main.js"></script>
</body>
</html>
